@font-face {
  font-family: 'Rubik'; 
  src: url('rubik.ttf') format('truetype');
} 


html, body {
  margin: 0;
  padding: 0;
  overflow: hidden;
  width: 100%;
  height: 100%;
}


  .menu {
    display: none;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 752px;
    height: 621px;
    background-color: rgb(17, 17, 17);
    border: solid;
    border-width: 2px;
    border-radius: 1px;
    border-color: rgb(129, 131, 131);
  }
  
  .menu ul {
    list-style-type: none;
    padding: 0;
  }
  
  .menu li {
    padding: 10px;
    text-align: center;
  }
  
  .menu li:last-child {
    border-bottom: none;
  }
  

  .button {
    font-family: 'Rubik', sans-serif;
    color:rgb(252, 252, 252);
    background-color:rgb(106, 108, 108);
    border-radius: 2px;
    border: none;
  }


  .choose-audio-button {
    font-family: 'Rubik', sans-serif;
    color:rgb(252, 252, 252);
    background-color:rgb(106, 108, 108);
    border-radius: 2px;
    border: none;
  }

  .upload-audio-button {
    font-family: 'Rubik', sans-serif;
    color:rgb(252, 252, 252);
    background-color:rgb(106, 108, 108);
    border-radius: 2px;
    border: none;
  }

  .load-audio-button {
    font-family: 'Rubik', sans-serif;
    color:rgb(252, 252, 252);
    background-color:rgb(106, 108, 108);
    border-radius: 2px;
    border: none;
  }

  .play-audio-button {
    font-family: 'Rubik', sans-serif;
    color:rgb(252, 252, 252);
    background-color:rgb(106, 108, 108);
    border-radius: 2px;
    border: none;
  }

  .pause-audio-button {
    font-family: 'Rubik', sans-serif;
    color:rgb(252, 252, 252);
    background-color:rgb(106, 108, 108);
    border-radius: 2px;
    border: none;
  }

  .clear-audio-button {
    font-family: 'Rubik', sans-serif;
    color:rgb(252, 252, 252);
    background-color:rgb(106, 108, 108);
    border-radius: 2px;
    border: none;
  }

  .choose-img-button {
    font-family: 'Rubik', sans-serif;
    color:rgb(252, 252, 252);
    background-color:rgb(106, 108, 108);
    border-radius: 2px;
    border: none;
  }

  .upload-img-button {
    font-family: 'Rubik', sans-serif;
    color:rgb(252, 252, 252);
    background-color:rgb(106, 108, 108);
    border-radius: 2px;
    border: none;
  }

  .display-img-button {
    font-family: 'Rubik', sans-serif;
    color:rgb(252, 252, 252);
    background-color:rgb(106, 108, 108);
    border-radius: 2px;
    border: none;
  }

  .clear-img-button {
    font-family: 'Rubik', sans-serif;
    color:rgb(252, 252, 252);
    background-color:rgb(106, 108, 108);
    border-radius: 2px;
    border: none;
  }

  input::file-selector-button {
    font-family: 'Rubik', sans-serif;
    color:rgb(252, 252, 252);
    background-color:rgb(106, 108, 108);
    border-radius: 2px;
    border: none;
 
  }

  .settings-spacing {
    background-color: transparent;
    height:78px;
  }

  .settings-font {
    font-family: 'Rubik', sans-serif;
    font-size: 24px;
    color:rgb(252, 252, 252);
    position:absolute;
    top:10px;
    left: 50px;
  }


  .audio-buttons {
    position:absolute;
    top:150px;
    left: 40px;
  }

  .background-buttons {
    position:absolute;
    top:250px;
    left: 40px;
  }

  .menu-bar {
    position:absolute;
    left: 35px;
    top:90px;
    background-color: rgb(129, 131, 131);
    width:680px;
    height: 2px;
  }