@font-face {
  font-family: 'Rubik'; 
  src: url('rubik.ttf') format('truetype');
} 


html, body {
  margin: 0;
  padding: 0;
  overflow: hidden;
  width: 100%;
  height: 100%;
}


.menu {
  opacity: 0;
  visibility: hidden;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 752px;
  height: 400px;
  background-color: rgb(17, 17, 17);
  border: solid;
  border-width: 2px;
  border-radius: 1px;
  border-color: rgb(129, 131, 131);
  transition: opacity 0.3s, visibility 0.2s;
}

.menu.visible {
  opacity: 1;
  visibility: visible;
}

  


  .choose-audio-button {
    font-family: 'Rubik', sans-serif;
    color:rgb(252, 252, 252);
    background-color:rgb(106, 108, 108);
    border-radius: 2px;
    border: none;
    transition-duration: 0.5s;
    font-size:14px;
  }

 .choose-audio-button:hover {
  box-shadow: 0 0 10px 2px #FFFFFF;
  cursor:pointer;
 }

  .upload-audio-button {
    font-family: 'Rubik', sans-serif;
    color:rgb(252, 252, 252);
    background-color:rgb(106, 108, 108);
    border-radius: 2px;
    border: none;
    transition-duration: 0.5s;
  }

  .upload-audio-button:hover {
    box-shadow: 0 0 10px 2px #FFFFFF;
    cursor:pointer;
   }

  .load-audio-button {
    font-family: 'Rubik', sans-serif;
    color:rgb(252, 252, 252);
    background-color:rgb(106, 108, 108);
    border-radius: 2px;
    border: none;
    transition-duration: 0.5s;
  }

  .load-audio-button:hover {
    box-shadow: 0 0 10px 2px #FFFFFF;
    cursor:pointer;
   }

  .play-audio-button {
    font-family: 'Rubik', sans-serif;
    color:rgb(252, 252, 252);
    background-color:rgb(106, 108, 108);
    border-radius: 2px;
    border: none;
    transition-duration: 0.5s;
  }

  .play-audio-button:hover {
    box-shadow: 0 0 10px 2px #FFFFFF;
    cursor:pointer;
   }

  .pause-audio-button {
    font-family: 'Rubik', sans-serif;
    color:rgb(252, 252, 252);
    background-color:rgb(106, 108, 108);
    border-radius: 2px;
    border: none;
    transition-duration: 0.5s;
  }

  .pause-audio-button:hover {
    box-shadow: 0 0 10px 2px #FFFFFF;
    cursor:pointer;
   }

  .clear-audio-button {
    font-family: 'Rubik', sans-serif;
    color:rgb(252, 252, 252);
    background-color:rgb(106, 108, 108);
    border-radius: 2px;
    border: none;
    transition-duration: 0.5s;
  }

  .clear-audio-button:hover {
    box-shadow: 0 0 10px 2px #FFFFFF;
    cursor:pointer;
   }

  .choose-img-button {
    font-family: 'Rubik', sans-serif;
    color:rgb(252, 252, 252);
    background-color:rgb(106, 108, 108);
    border-radius: 2px;
    border: none;
    transition-duration: 0.5s;
    font-size: 14px;
  }

  .choose-img-button:hover {
    box-shadow: 0 0 10px 2px #FFFFFF;
    cursor:pointer;
   }

  .upload-img-button {
    font-family: 'Rubik', sans-serif;
    color:rgb(252, 252, 252);
    background-color:rgb(106, 108, 108);
    border-radius: 2px;
    border: none;
    transition-duration: 0.5s;
  }

  .upload-img-button:hover {
    box-shadow: 0 0 10px 2px #FFFFFF;
    cursor:pointer;
   }

  .display-img-button {
    font-family: 'Rubik', sans-serif;
    color:rgb(252, 252, 252);
    background-color:rgb(106, 108, 108);
    border-radius: 2px;
    border: none;
    transition-duration: 0.5s;
  }

  .display-img-button:hover {
    box-shadow: 0 0 10px 2px #FFFFFF;
    cursor:pointer;
   }

  .clear-img-button {
    font-family: 'Rubik', sans-serif;
    color:rgb(252, 252, 252);
    background-color:rgb(106, 108, 108);
    border-radius: 2px;
    border: none;
    transition-duration: 0.5s;
  }

  .clear-img-button:hover {
    box-shadow: 0 0 10px 2px #FFFFFF;
    cursor:pointer;
   }

  input::file-selector-button {
    font-family: 'Rubik', sans-serif;
    color:rgb(252, 252, 252);
    background-color:rgb(106, 108, 108);
    border-radius: 2px;
    border: none;
 
  }

  .settings-spacing {
    background-color: transparent;
    height:78px;
  }

  .settings-font {
    font-family: 'Rubik', sans-serif;
    font-size: 24px;
    color:rgb(252, 252, 252);
    position:absolute;
    top:10px;
    left: 50px;
  }

  .x-font {
    font-family: 'Rubik', sans-serif;
    font-size: 24px;
    color:rgb(252, 252, 252);
    position:absolute;
    top:10px;
    left: 50px;
  }

  .x-spacing {
    background-color: transparent;
    position:absolute;
    left: 630px;
    top: 0px;
  }

  .x-spacing:hover {
    cursor:pointer;
  }


  .audio-buttons {
    position:absolute;
    top:150px;
    left: 40px;
  }

  .background-buttons {
    position:absolute;
    top:250px;
    left: 40px;
  }

  .menu-bar {
    position:absolute;
    left: 35px;
    top:90px;
    background-color: rgb(129, 131, 131);
    width:680px;
    height: 2px;
  }